template(name='ApplicationLayout')
	head
		title 'IT-Service'
	body.metro
		.container
			+navbar
			+breadcrumbs
			if isInRole 'agent'
				.grid.fluid
					.row
						.span3
							+sidebar
						.span9
							+yield
			if isInRole 'employee'
				.grid.fluid
					.row
						.span3
							+employeeSidebar
						.span9
							+yield
template(name='breadcrumbs')
	nav.breadcrumbs.small
		ul
			li
				a(href="/")
					i.icon-home
			+yield('breadcrumbs')


template(name='navbar')
	nav.navigation-bar.light
		nav.navigation-bar-content
			span.element.brand IT-Premium
			span.element-divider
			ul.element-menu
				+yield('navbar')
			.element.place-right
				+loginButtons

template(name='sidebar')
	nav.sidebar.light
		ul
			li.stick.bg-blue(class="{{isActiveRoute regex='Dashboard'}}")
				a(href='/') Центр управления
			li.stick.bg-orange(class="{{isActivePath regex='/tickets'}}")
				a(href='/tickets') Обращения
			li
				ul.sub-menu(style='display:block;')
					li(class="{{isActivePath regex='/incidents'}}")
						a(href='/incidents')
							i.icon-bug.on-left
							| Инциденты
					li
						a(href='/service_requests')
							i.icon-basket.on-left
							| Запр на обсл
					li
						a(href='/rfcs')
							i.icon-cog.on-left
							| Запр на изм
			li
				a(href='/changes') Изменения
			li.stick.bg-green
				a(href='/problems') Проблемы
			li.stick.bg-darkPink
				a(href='/knowledges') Знания
			li.stick.darkBlue(class="{{isActivePath regex='/clients'}}")
				a(href='/clients') Клиенты
			li.stick.bg-magenta(class="{{isActivePath regex='/agents'}}")
				a(href='/agents') Агенты
			li.stick.bg-red
				a.dropdown-toggle Настройки SLA
				ul.sub-menu(data-role='dropdown')
					li
						a(href='/slas') Сервисы
					li
						a Категории
					li
						a Уровни
